<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/ComponentAnnot/src/com/st/spring/Test/TestClient.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="com.st.spring.Test.TestClient"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="ComponentAnnot"/>
</launchConfiguration>
